html {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  min-width: 100%;
  max-height: 80%;
  display: grid;
  grid-template-areas: "header header header" "highScore gameContainer scoreContainer" "footer footer footer";
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center; }

body::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: url("images/background.png") 0 0 repeat;
  background-size: cover;
  animation: rotateBackgound 30s linear infinite;
  z-index: -1; }

@keyframes rotateBackgound {
  from {
    background-position-x: 0; }
  to {
    background-position-x: 10000px; } }
header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em; }

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  animation: glow 3s linear infinite; }

@keyframes glow {
  0% {
    box-shadow: 0px 0px 20px 0px rgba(246, 171, 0, 0.25); }
  50% {
    box-shadow: 0px 0px 20px 0px rgba(246, 171, 0, 0.85); }
  100% {
    box-shadow: 0px 0px 20px 0px rgba(246, 171, 0, 0.25); } }
footer {
  grid-area: footer; }

.logo {
  width: 20em; }

.modal {
  display: flex;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
  z-index: 1; }
  .modal h1 {
    color: #0eb738; }
  .modal p:last-child {
    color: red; }
  .modal button {
    min-width: 50%;
    min-height: 10%;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.25em;
    border-radius: 2em;
    background: rgba(230, 0, 18, 0.25);
    box-shadow: 0px 0px 10px -3px white;
    border: white thin solid; }
  .modal button:hover {
    background: rgba(230, 0, 18, 0.5);
    transform: scale(0.95);
    transition: transform .5s ease; }
  .modal .controls {
    max-width: 50%;
    max-height: 25%; }

.highScoreContainer,
.scoreContainer {
  height: 80vh; }

.highScoreContainer {
  grid-area: highScoreContainer;
  background: url("images/galagaBezelLeft.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 18vw; }

.scoreContainer {
  grid-area: scoreContainer;
  background: url("images/galagaBezelRight.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 18vw; }

.scoreCountContainer {
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  margin-left: 1.5em;
  z-index: 0;
  position: absolute; }

.gameContainer {
  grid-area: gameContainer;
  background: url("images/background.png");
  background-size: cover;
  position: relative;
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 0; }

.playerShip {
  width: 2.5em;
  height: 2.5em;
  object-fit: cover;
  position: absolute; }

.enemyShip {
  margin: 0;
  padding: 0;
  width: 2.25em;
  height: 2.25em;
  object-fit: cover;
  position: absolute; }

.enemyShipRGY {
  margin: 0;
  padding: 0;
  width: 2.25em;
  height: 2.25em;
  object-fit: cover;
  position: absolute; }

.enemyShipRotate {
  animation: rotate 3s ease infinite; }

@keyframes rotate {
  from {
    transform: rotate(180deg);
    top: 100px; }
  to {
    transform: rotate(0deg);
    top: 0px; } }
.rocket {
  width: 2.5em;
  height: 2.5em;
  object-fit: cover;
  position: absolute; }

.gameBackgroundAnimation {
  animation: loopBackground 10s linear infinite; }

@keyframes loopBackground {
  0% {
    background-position-y: 0px; }
  100% {
    background-position-y: 250em; } }
.fireworkContainer1 {
  position: absolute;
  top: 25%;
  left: 25%; }
  .fireworkContainer1 .fireworkExplosion {
    border-radius: 25%;
    position: absolute;
    width: 4px;
    height: 80px;
    left: -2px;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    transform-origin: 50% 100%;
    overflow: hidden; }
  .fireworkContainer1 .fireworkExplosion::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 40px;
    background: #f6ab00;
    animation: explosionEffect 1.75s ease infinite; }
  .fireworkContainer1 .fireworkExplosion:nth-child(1) {
    transform: rotate(0deg) translateY(-15px); }
  .fireworkContainer1 .fireworkExplosion:nth-child(2) {
    transform: rotate(30deg) translateY(-15px); }
  .fireworkContainer1 .fireworkExplosion:nth-child(3) {
    transform: rotate(60deg) translateY(-15px); }
  .fireworkContainer1 .fireworkExplosion:nth-child(4) {
    transform: rotate(90deg) translateY(-15px); }
  .fireworkContainer1 .fireworkExplosion:nth-child(5) {
    transform: rotate(120deg) translateY(-15px); }
  .fireworkContainer1 .fireworkExplosion:nth-child(6) {
    transform: rotate(150deg) translateY(-15px); }
  .fireworkContainer1 .fireworkExplosion:nth-child(7) {
    transform: rotate(180deg) translateY(-15px); }
  .fireworkContainer1 .fireworkExplosion:nth-child(8) {
    transform: rotate(210deg) translateY(-15px); }
  .fireworkContainer1 .fireworkExplosion:nth-child(9) {
    transform: rotate(240deg) translateY(-15px); }
  .fireworkContainer1 .fireworkExplosion:nth-child(10) {
    transform: rotate(270deg) translateY(-15px); }
  .fireworkContainer1 .fireworkExplosion:nth-child(11) {
    transform: rotate(300deg) translateY(-15px); }
  .fireworkContainer1 .fireworkExplosion:nth-child(12) {
    transform: rotate(330deg) translateY(-15px); }

.fireworkContainer2 {
  position: absolute;
  top: 25%;
  left: 75%; }
  .fireworkContainer2 .fireworkExplosion {
    border-radius: 25%;
    position: absolute;
    width: 4px;
    height: 80px;
    left: -2px;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    transform-origin: 50% 100%;
    overflow: hidden; }
  .fireworkContainer2 .fireworkExplosion::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 40px;
    background: #62b992;
    animation: explosionEffect 1.175s ease infinite; }
  .fireworkContainer2 .fireworkExplosion:nth-child(1) {
    transform: rotate(0deg) translateY(-15px); }
  .fireworkContainer2 .fireworkExplosion:nth-child(2) {
    transform: rotate(30deg) translateY(-15px); }
  .fireworkContainer2 .fireworkExplosion:nth-child(3) {
    transform: rotate(60deg) translateY(-15px); }
  .fireworkContainer2 .fireworkExplosion:nth-child(4) {
    transform: rotate(90deg) translateY(-15px); }
  .fireworkContainer2 .fireworkExplosion:nth-child(5) {
    transform: rotate(120deg) translateY(-15px); }
  .fireworkContainer2 .fireworkExplosion:nth-child(6) {
    transform: rotate(150deg) translateY(-15px); }
  .fireworkContainer2 .fireworkExplosion:nth-child(7) {
    transform: rotate(180deg) translateY(-15px); }
  .fireworkContainer2 .fireworkExplosion:nth-child(8) {
    transform: rotate(210deg) translateY(-15px); }
  .fireworkContainer2 .fireworkExplosion:nth-child(9) {
    transform: rotate(240deg) translateY(-15px); }
  .fireworkContainer2 .fireworkExplosion:nth-child(10) {
    transform: rotate(270deg) translateY(-15px); }
  .fireworkContainer2 .fireworkExplosion:nth-child(11) {
    transform: rotate(300deg) translateY(-15px); }
  .fireworkContainer2 .fireworkExplosion:nth-child(12) {
    transform: rotate(330deg) translateY(-15px); }

.fireworkContainer3 {
  position: absolute;
  top: 90%;
  left: 25%; }
  .fireworkContainer3 .fireworkExplosion {
    border-radius: 25%;
    position: absolute;
    width: 4px;
    height: 80px;
    left: -2px;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    transform-origin: 50% 100%;
    overflow: hidden; }
  .fireworkContainer3 .fireworkExplosion::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 40px;
    background: #3dff65;
    animation: explosionEffect 1.5s ease infinite; }
  .fireworkContainer3 .fireworkExplosion:nth-child(1) {
    transform: rotate(0deg) translateY(-15px); }
  .fireworkContainer3 .fireworkExplosion:nth-child(2) {
    transform: rotate(30deg) translateY(-15px); }
  .fireworkContainer3 .fireworkExplosion:nth-child(3) {
    transform: rotate(60deg) translateY(-15px); }
  .fireworkContainer3 .fireworkExplosion:nth-child(4) {
    transform: rotate(90deg) translateY(-15px); }
  .fireworkContainer3 .fireworkExplosion:nth-child(5) {
    transform: rotate(120deg) translateY(-15px); }
  .fireworkContainer3 .fireworkExplosion:nth-child(6) {
    transform: rotate(150deg) translateY(-15px); }
  .fireworkContainer3 .fireworkExplosion:nth-child(7) {
    transform: rotate(180deg) translateY(-15px); }
  .fireworkContainer3 .fireworkExplosion:nth-child(8) {
    transform: rotate(210deg) translateY(-15px); }
  .fireworkContainer3 .fireworkExplosion:nth-child(9) {
    transform: rotate(240deg) translateY(-15px); }
  .fireworkContainer3 .fireworkExplosion:nth-child(10) {
    transform: rotate(270deg) translateY(-15px); }
  .fireworkContainer3 .fireworkExplosion:nth-child(11) {
    transform: rotate(300deg) translateY(-15px); }
  .fireworkContainer3 .fireworkExplosion:nth-child(12) {
    transform: rotate(330deg) translateY(-15px); }

.fireworkContainer4 {
  position: absolute;
  top: 90%;
  left: 75%; }
  .fireworkContainer4 .fireworkExplosion {
    border-radius: 25%;
    position: absolute;
    width: 4px;
    height: 80px;
    left: -2px;
    bottom: 0;
    background: rgba(98, 185, 146, 0);
    transform-origin: 50% 100%;
    overflow: hidden; }
  .fireworkContainer4 .fireworkExplosion::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 40px;
    background: #e60012;
    animation: explosionEffect 1s ease infinite; }
  .fireworkContainer4 .fireworkExplosion:nth-child(1) {
    transform: rotate(0deg) translateY(-15px); }
  .fireworkContainer4 .fireworkExplosion:nth-child(2) {
    transform: rotate(30deg) translateY(-15px); }
  .fireworkContainer4 .fireworkExplosion:nth-child(3) {
    transform: rotate(60deg) translateY(-15px); }
  .fireworkContainer4 .fireworkExplosion:nth-child(4) {
    transform: rotate(90deg) translateY(-15px); }
  .fireworkContainer4 .fireworkExplosion:nth-child(5) {
    transform: rotate(120deg) translateY(-15px); }
  .fireworkContainer4 .fireworkExplosion:nth-child(6) {
    transform: rotate(150deg) translateY(-15px); }
  .fireworkContainer4 .fireworkExplosion:nth-child(7) {
    transform: rotate(180deg) translateY(-15px); }
  .fireworkContainer4 .fireworkExplosion:nth-child(8) {
    transform: rotate(210deg) translateY(-15px); }
  .fireworkContainer4 .fireworkExplosion:nth-child(9) {
    transform: rotate(240deg) translateY(-15px); }
  .fireworkContainer4 .fireworkExplosion:nth-child(10) {
    transform: rotate(270deg) translateY(-15px); }
  .fireworkContainer4 .fireworkExplosion:nth-child(11) {
    transform: rotate(300deg) translateY(-15px); }
  .fireworkContainer4 .fireworkExplosion:nth-child(12) {
    transform: rotate(330deg) translateY(-15px); }

@keyframes explosionEffect {
  from {
    top: 100%; }
  to {
    top: -50%; } }
